<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47576">  <td>22/04/20 16:26:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MianClass.openchrome()[pri:0, instance:investorwebotp.MianClass@5b799640]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@479920916</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/04/20 16:26:22</td>   <td>6438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MianClass.login()[pri:1, instance:investorwebotp.MianClass@5b799640]">login</td> 
  <td>main@479920916</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/04/20 16:26:46</td>   <td>30675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MianClass.metabase()[pri:2, instance:investorwebotp.MianClass@5b799640]">metabase</td> 
  <td>main@479920916</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/04/20 16:27:19</td>   <td>63664</td> <td>&nbsp;</td><td title="&lt;&lt;MianClass.CloseBrowser()[pri:0, instance:investorwebotp.MianClass@5b799640]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@479920916</td>   <td></td> </tr>
</table>
